!!!
%html
	%head
		%title Mailr
		= csrf_meta_tags
		= csp_meta_tag

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	
		%script{src: "https://js.stripe.com/v3/"}
		%script{type:"text/javascript",src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyDRx1Y_fUF8W9A1U81MYLtLsLFQ-tZTP4k&libraries=places"}
	%body{class: controller.controller_name}
		
		- flash.each do |name, msg|
			.alert{ :class => "alert-#{name}" }
				%button.close{ :data => { :dismiss => "alert"} } x
				= msg


		= javascript_pack_tag 'application'

		= yield

		= react_component("Footer")
  

