!!!
%html
	%head
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126188592-2"></script>
		%script
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-126188592-2');
		%title Snail Mail Now
		= csrf_meta_tags
		= csp_meta_tag

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		%link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.4.1/css/all.css", :integrity => "sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz", :rel => "stylesheet"}


		%script{src: "https://js.stripe.com/v3/"}
		%script{type:"text/javascript",src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyDRx1Y_fUF8W9A1U81MYLtLsLFQ-tZTP4k&libraries=places"}
		%script{src: "https://cdn.ckeditor.com/ckeditor5/11.1.0/classic/ckeditor.js"}
	%body{class: controller.controller_name}
		
		- flash.each do |name, msg|
			.alert{ :class => "alert-#{name}" }
				%button.close{ :data => { :dismiss => "alert"} } x
				= msg


		= javascript_pack_tag 'application'

		= yield

		
  

